{% extends 'main.html' %}
{% block content %}

<h1>Projects Template</h1>

<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Project</th>
        <th>Positive Votes Ratio</th>
        <th>Votes</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td><a href="{% url 'single-project' project.id %}">View</a></td>
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.vote_ratio}}</td>
        <td>{{project.vote_total}}</td>
    </tr>
    {% endfor %}
    
</table>

{% endblock content %}