{% extends 'main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/reset_password_forms.css' %}" />
{% endblock head %}

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            {% if form %}
                <h3>Enter new password</h3>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <br/>
                <form class="form" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}: </label>
                        
                        {{field}}
                    
                    </div>
                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Change my password" />
                </form>

            {% else %}
                <h3>Something goes wrong!</h3>
                <p>Please restart the reset process.</p>
                <br/>

                <div class="auth__alternative">
                    <a href="{% url 'reset_password' %}">Reset my password</a>
                </div>
            {% endif %}
            
                

                
                
        </div>
    </div>
</main>



{% endblock content %}